.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 80px;
  min-height: 100vh;
  font-family: system-ui;
}

.main h1{
  font-size: 32px;
  font-weight: 600;
}

.main h4{
  margin-top: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  max-width: 900px;
  color: #333;
}

.buttonSection{
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
}

.buttonSection a{
  border-radius: 5px;
  padding: 7px 25px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid;
}

.buttonSection a:first-child{
  background-color: var(--color-blue-primary);
  color: #ffffff;
  border-color: var(--color-pink-primary);
}

.buttonSection a:last-child{
  color: var(--color-pink-primary);
  border-color: var(--color-pink-primary);
}

.howCreateContainer h3{
  color: var(--color-blue-primary);
  text-decoration: underline;
  padding: 10px 0;
}

.howWork{
  display: flex;
  gap: 20px;
}

.div50{
  flex: 0 0 50%;
  max-width: 50%;
}

.howWork article{
  text-align: start;
  padding: 25px 0;
}

.howWork article h5{
  color: var(--color-pink-primary);
  font-size: 22px;
  padding: 7px 0;
}

.howWork article p{
  line-height: 1.5rem;
}

@media screen and (max-width: 840px) {
  .main{
    padding: 30px;
  }
}

@media screen and (max-width: 700px) {
  .howWork{
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .div50{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .howWork article{
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .buttonSection{
    flex-direction: column;
    gap: 20px;
  }
  .main h1{
    font-size: 25px;
  }
  .main h4{
    font-size: 16px;
  }
  .div50 p,
  .div50 img{
    max-width: calc(100vw - 60px);
  }
}