.mainContent{
    padding: 10px;
    border: none;
    display: flex;
    flex-direction: row;
}
.mainContent aside{
    flex: 0 0 50%;
    max-width: 50%;
}
.mainContent aside h3{
    text-align: center;
}

.linkToUser{
    text-align: center;
    padding-bottom: 5px;
    text-decoration: underline;
    color: var(--color-blue-primary);
}
.linkToUser svg{
      font-size: 14px;
      margin-right: 4px;
      margin-bottom: -2px;
}

@media (max-width: 550px) {
    .mainContent{
        padding: 10px;
        border: none;
        display: flex;
        flex-direction: column;
    }
    .mainContent aside{
        flex: 0 0 100%;
        max-width: 100%;
    }
}