.bannerContainer{
 width: 100%;
 background-color: white;
 height: 130px;
 overflow: hidden;
}
.bannerContainer img{
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    width: 100%;
}
